{% extends "base.html" %}

{% block title %}  Animal Shelter - About {% endblock %}

{% block content %}
<main role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
	<div class="name"> <b>Get To Know Us</b> </div>
	<br>
	<div class="innerbox fade-in">
        <p> WCAS serves Wise County, Virginia. We are a small shelter 
            located in Norton, Virginia. We accept donations of food, 
            cleaning products, and more.<br>
        <br>
        If you want to know which items/resources we currently need, please 
        <a class="contactlink" href="http://127.0.0.1:8000/contact">CONTACT US.</a>
        <br> <br>We adopt dogs out directly, but also work with local rescues to
        foster the animals that come through our doors. For information about 
        fostering or adopting, 
        <br><a class="contactlink" href="http://127.0.0.1:8000/contact">GIVE US A CALL.</a><br>
        <br> Our kennels are usually full, so
        we encourage all potential adoptees to <br>  
        <a class="contactlink" href="http://127.0.0.1:8000/contact">
        STOP BY AND SEE THE PETS. <BR><br></a>
		</p>
	</div>
</div> 
</main>
{% endblock %}


