<!DOCTYPE html>

<!-- Template for viewing information on a particular animal. -->

<html>

<head>
{% load static %}
<title>
Animal Shelter - 
{% if animal %}
	{{ animal.name }}
{% else %}
	Error
{% endif %}
</title>
<link rel="stylesheet" href="{% static '/style.css' %}"/>
</head>

<body class="clearfix">
{% if animal %}

	<!-- Right aligned image of animal -->
	<img class="floating fade-in" src="{{ animal.image.url }}"/>
	<h1>{{ animal.name }}</h1>

	<!-- Animal description -->
	<p>{{ animal.notes }}</p>

	<br>
	<p><b>ID Number:</b> 	{{ animal.id_num  		}}</p>
	<p><b>Species:</b>	  	{{ animal.species 		}}</p>
	<p><b>Breed:</b>	  	{{ animal.breed   		}}</p>
	<p><b>Weight:</b>	  	{{ animal.weight  		}}</p>
	<p><b>Gender:</b>	  	{{ animal.gender  		}}</p>
	<p><b>Intake Date:</b>	{{ animal.intake_date 	}}</p>
	<p><b>Estimated Age: </b>{{ animal.estimated_age }}</p>

	{% if animal.animaldetail %}
		<p><a href="{% url 'extra' animal.id %}">
		More Information
		</a></p>
	{% endif %}

{% else %}
	<h2>Animal's details are unviewable.</h2>
	<p>Sorry.</p>
{% endif %}

<br/>
</body>

</html>
