<!DOCTYPE html>

<!-- Template for the animal listing main page. -->
<!-- If there are any animals in the database, loop through them and link to them. -->

<html>

<head>
{% load static %}
<title>Animal Listing</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
<h1>Animal Listing</h1>

{% if animal_list %}
<div class=cols>
	<!-- Loop through every animal in the list and provide link to details page -->
	{% for animal in animal_list %}
	<div>
		<br/>
		<a href="{% url 'detail' animal.id %}">
			<h3>{{ animal.name }}</h3> 
			<p>
			{% if animal.breed %}
				{{ animal.breed }}, 
			{% endif %}
			{{ animal.estimated_age }}
			</p>
			<img class="smaller" src="{{ animal.image.url }}"/>
			<br/>
		</a>
	</div>
	{% endfor %}
</div>

{% else %}
	<p>No animals found.</p>
{% endif %}
</body>

</html>
